server:
  port: 8080
spring:
  application:
    name: api-service
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/foodtech
    username: foodtech
    password: foodtech
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics